Tabular/.ipynb_checkpoints
Images/.ipynb_checkpoints
*.ipynb_checkpoints
*.DS_Store
*.pyc

Images/datasets/MNIST

Hands_on_solutions.ipynb
Imagenet_original.ipynb
MNIST_original.ipynb
CIFAR_original.ipynb
Abele_custom_model.ipynb
Images/datasets/cifar_x.p